.imgChara{
    width: 40pt;
    border-radius:50%;
    box-shadow: 2px 2px 4px #000000;
transition: width 1s, height 1s, transform 1s;

}
.imgChara:hover{
    width: 50pt;
    transform: rotate(60deg);
    cursor: pointer;
}




